// Color

@white 																	: 								rgba(255, 255, 255, 1);
@black 																	: 								rgb(0, 0, 0);

@color-brand-primary										: 								rgb(47, 69, 144);
@color-brand-secondary 									: 								rgb(204, 204, 204);

@blue-dark 															: 								rgb(34, 50, 102);
@blue-medium 														: 								rgb(36, 54, 134);
@blue-purple 														: 								rgba(47, 69, 144, 0.7);
@blue-purple-dark 											: 								rgb(64, 84, 151);
@blue-light 	 													: 								rgb(213, 218, 233);
@blue-grey 															:									rgb(145, 154, 189);

@color-border-primary 									: 								rgb(47,69,143);


@color-font-normal 											: 								rgba(255,255,255,0.5);


@color-icon-social 											: 								rgba(247,247,247,0.5);

@orange-step-1 													: 								rgb(254, 249, 236);
@orange-step-2 													: 								rgb(254, 247, 231);
@orange-darkest 												: 								rgb(249, 192, 70);

.font-kanda(@font-size: 16px; @font-weight: 400; @letter-spacing: 1px) {
	font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
	font-size: @font-size;
	font-weight: @font-weight;
	letter-spacing: @letter-spacing;
}

@gap-row  															: 								20px;
@gap-element 														: 								15px;

@button-radio-bg-theme: rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5);
@button-radio-color-theme: rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(47, 69, 144, 0.7);

@select-bg-theme: fade(@white, 20%), fade(@white,50%), fade(@white,50%);

@zindex-search-icon 										: 								1001;
@zindex-search 													: 								1000;
@zindex-topbar 													: 								 999;